# Trick to ignore files without extensions (compilates)
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/


*.swp
*sublime*
*bluefish*
mostfiles/oud/
mostfiles/tydl/
mostfiles/flashread.*
*~

