/* version 0.81

	ADAP HIS
	- set the form-div below the status-div	
  -add url-textarea
  -add time
  -renamed divs to names without spaces
  */


body {
/*  background-color: lightgoldenrodyellow;*/
  background-color: beige;
  /*height: 100vh;*/
}

textarea {
/*  min-height: 10 px;*/
  height: 25 px;
  width: 100 px;
}


table, th, td {
  border: 1px solid black;
  /*border-collapse: collapse;*/
}

th, td {
  padding: 6px;
  font-size: 12px;
}

table {
  margin-left: auto; 
  margin-right: auto;
}


input.data-input, input.filtering{
  width: 95%;
}

select{
  padding: 5px 10px;
  background-color: #008CBA;
  font-size: 12px;
}


.row-top {
  color: green;
  background-color: yellow;
  /*background-color:lightsteelblue;*/
  width: 100%;
  height: 3.5%}


.rtop-left {
  float: left;
  width: 33%;
  background-color:orange;
  }


.rtop-mid {
  float: left;
  width: 33%;
  /*font-weight: bold;*/
  background-color:red;
  }
  

.rtop-right {
  float: right;
  width: 33%;
  background-color:yellow;
  }



.row-main {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  /*overflow: hidden;*/
}

.col-mid,
.col-right {
/*    padding-bottom: 9999px;
    margin-bottom: -9979px;    
*/
  padding: 10px;
  height: 91vh;
  overflow: scroll;
    }

.col-mid {
  float: left;
  width: 25%;
/*  background-color:whitesmoke;*/
  background-color: #bfd9bf;
  font-size: 13px;
}

.specialfield {
  background-color: lightgrey;
  width: 40%;
  height: 20px;
  border-radius: 12px;
  font-size: 12px;
  padding: 3px;
}

.my_textarea {
/*  background-color: lightgrey;*/
  width: 300px;
  height: 20px;
/*  border-radius: 12px;*/
  font-size: 12px;
  padding: 3px;
}


/*
 {
  background-color: lightgrey;
  width: 40%;
  height: 20px;
  border-radius: 12px;
  font-size: 12px;
  padding: 3px;
}
*/


.mybuttons {
  border: none;
  color: white;
  background-color: #008CBA;
  padding: 9px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 10px auto;
  cursor: pointer;
  width: 50%;
  border-radius: 12px;
  }


/* status-gedeelte */
.mid-top  {
  float:top;
  height: 20%;
  width: 100%;
  color: blue;
  font-size: small;
  }

/* bediensel-gedeelte*/
.mid-mid	{
	height: 70%;
	font-size: 95%;
	}

/*uitvoer-gedeelte*/
.col-right {
  float: right;
  width: 71%;
  /*height: 100%;*/
  background-color: lightskyblue;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .col-mid, .col-right {
    width: 100%;
  }
}

